<div class="w-[1440px] h-[414px] p-[52px] bg-white flex-col justify-start items-center gap-8 inline-flex">
    <div class="w-[1336px] bg-white bg-opacity-0 justify-between items-center inline-flex">
        <div class="w-[766px] text-neutral-900 text-[34px] font-medium font-['Space Grotesk'] leading-[38px]">Catégories</div>
        <div class="border-b border-neutral-900 justify-end items-center gap-1 flex">
          <a href="#" class="inline-flex items-center justify-center py-3 mr-3 text-base font-medium text-center text-neutral-900 rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900 font-medium leading-loose">
            Voir toutes les catégories
          </a>
        </div>
    </div>
    <div class="w-[1247px] justify-start items-start gap-16 inline-flex">
        <div class="flex-col justify-start items-start gap-3 inline-flex">
            <div class="w-[196px] h-[196px] rounded-[100px] justify-center items-center inline-flex">
                <img class="w-[196px] h-[196px]" src="https://via.placeholder.com/196x196" />
            </div>
            <div class="self-stretch h-8 flex-col justify-start items-center gap-1 flex">
                <div class="self-stretch text-center text-neutral-900 text-lg font-medium font-['Space Grotesk'] leading-loose">Les Chatons</div>
            </div>
        </div>
        <div class="flex-col justify-start items-start gap-3 inline-flex">
            <div class="w-[196px] h-[196px] rounded-[100px] justify-center items-center inline-flex">
                <img class="w-[196px] h-[196px]" src="https://via.placeholder.com/196x196" />
            </div>
            <div class="self-stretch h-8 flex-col justify-start items-center gap-1 flex">
                <div class="self-stretch text-center text-neutral-900 text-lg font-medium font-['Space Grotesk'] leading-loose">Les Festifs</div>
            </div>
        </div>
        <div class="flex-col justify-start items-start gap-3 inline-flex">
            <div class="w-[196px] h-[196px] rounded-[100px] justify-center items-center inline-flex">
                <img class="w-[196px] h-[196px]" src="https://via.placeholder.com/196x196" />
            </div>
            <div class="self-stretch h-8 flex-col justify-start items-center gap-1 flex">
                <div class="self-stretch text-center text-neutral-900 text-lg font-medium font-['Space Grotesk'] leading-loose">Les Funnys</div>
            </div>
        </div>
        <div class="flex-col justify-start items-start gap-3 inline-flex">
            <div class="w-[196px] h-[196px] rounded-[100px] justify-center items-center inline-flex">
                <img class="w-[196px] h-[196px]" src="https://via.placeholder.com/196x196" />
            </div>
            <div class="self-stretch h-8 flex-col justify-start items-center gap-1 flex">
                <div class="self-stretch text-center text-neutral-900 text-lg font-medium font-['Space Grotesk'] leading-loose">Les Beautés</div>
            </div>
        </div>
        <div class="flex-col justify-start items-start gap-3 inline-flex">
            <div class="w-[196px] h-[196px] rounded-[100px] justify-center items-center inline-flex">
                <img class="w-[196px] h-[196px]" src="https://via.placeholder.com/196x196" />
            </div>
            <div class="self-stretch h-8 flex-col justify-start items-center gap-1 flex">
                <div class="self-stretch text-center text-neutral-900 text-lg font-medium font-['Space Grotesk'] leading-loose">Les Colériques</div>
            </div>
        </div>
    </div>
</div>