<!-- Banner -->
<div class="relative flex justify-center items-center">
  <%= image_tag("banner.png", class: "h-96 object-cover w-full", alt: "Little red kitten playing on its back") %>
  <div class="absolute max-w-7xl text-center w-full">
    <h2 class="text-6xl font-bold">Contactez nous</h2>
    <p class="pt-6 text-base max-w-2xl text-center m-auto">
      Vous avez des questions concernant nos services ? 
    </p>
    <p class="text-base max-w-2xl text-center m-auto">
      Consultez notre centre d'aide ou demandez de l'aide.
    </p>
  </div>
</div>

<!-- All card items -->
<div class="md:mx-20 md:mt-4">  
  <div class="bg-white py-12">
    <div class="isolate bg-white px-6 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-3xl md:text-5xl font-medium tracking-tight text-neutral-900">Instant Miaou :</h2>
        <h2 class="text-3xl md:text-5xl font-medium tracking-tight text-neutral-900">Trouvez des Images de Chats à Acquérir</h2>
        <p class="mt-2 mb-10 text-lg leading-8 text-gray-600 md:mb-20">Il y en aura pour tous les goûts !</p>
      </div>
      <%= render "cards" %>
    </div>
  </div>
</div>