<footer class="bg-white rounded-lg m-4 sticky top-[100vh]">
    <div class="w-full max-w-screen-xl mx-auto p-4">
        <div class="sm:flex sm:items-center sm:justify-between text-center">
                <span class="self-center text-2xl font-semibold whitespace-nowrap">KittyKat</span>
            </a>
            <ul class="flex flex-wrap text-center mt-4 sm:mt-0 mb-6 text-sm font-medium text-gray-500 sm:mb-0">
                <li>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="hover:underline me-4 md:me-6">A propos</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="hover:underline me-4 md:me-6">Conditions générales</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="hover:underline me-4 md:me-6">Licence</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="hover:underline">Contact</a>
                </li>
            </ul>
        </div>
        <hr class="my-2  border-gray-200 sm:mx-auto lg:my-3" />
        <span class="block text-sm text-gray-500 text-center ">© 2023 <a href="https://flowbite.com/" class="hover:underline">KittyKat™</a>.  All Rights Reserved.</span>
    </div>
</footer>