<div class="w-[1440px] h-[68px] px-[52px] py-[19px] bg-white bg-opacity-0 border-b border-white border-opacity-0 justify-center items-center inline-flex">
    <div class="w-[1336px] h-[30px] relative flex-col justify-start items-start flex">
        <div class="w-[155px] h-[30px] relative">
            <img class="w-[0px] h-[0px] left-[34.64px] top-[3.50px] absolute" src="https://via.placeholder.com/0x0" />
            <div class="w-[26.08px] h-[27px] left-[0.57px] top-[-0.49px] absolute"></div>
        </div>
        <div class="justify-end items-center gap-5 inline-flex">
            <div class="w-7 h-7 justify-center items-center flex">
                <div class="w-7 h-7 relative flex-col justify-start items-start flex">
                    <img class="w-[19.29px] h-[19.29px]" src="https://via.placeholder.com/19x19" />
                </div>
            </div>
            <div class="w-7 h-7 relative">
                <img class="w-[15.62px] h-[21.33px] left-[5.71px] top-[3.86px] absolute" src="https://via.placeholder.com/16x21" />
            </div>
            <div class="w-[50px] h-7 justify-center items-center gap-0.5 flex">
                <div class="w-7 h-7 relative flex-col justify-start items-start flex">
                    <img class="w-[15.92px] h-[19.19px]" src="https://via.placeholder.com/16x19" />
                </div>
                <div class="w-5 h-5 relative flex-col justify-start items-start flex">
                    <div class="w-5 h-5 bg-neutral-900 rounded-full"></div>
                    <div class="text-center text-white text-xs font-bold font-['Inter'] leading-[10px]">2</div>
                </div>
            </div>
        </div>
        <div class="justify-center items-center gap-10 inline-flex">
            <div class="justify-start items-center gap-0.5 flex">
                <div class="border-neutral-900 justify-start items-center gap-0.5 flex">
                    <div class="justify-start items-center gap-1 flex">
                        <div class="text-neutral-900 text-sm font-medium font-['Space Grotesk'] leading-normal">Accueil</div>
                    </div>
                </div>
            </div>
            <div class="justify-start items-center gap-0.5 flex">
                <div class="border-neutral-900 justify-start items-center gap-0.5 flex">
                    <div class="justify-start items-center gap-1 flex">
                        <div class="text-neutral-900 text-sm font-medium font-['Space Grotesk'] leading-normal">Contact</div>
                    </div>
                </div>
            </div>
            <div class="justify-start items-center gap-0.5 flex">
                <div class="border-neutral-900 justify-start items-center gap-0.5 flex">
                    <div class="justify-start items-center gap-1 flex">
                        <div class="text-neutral-900 text-sm font-medium font-['Space Grotesk'] leading-normal">Photos</div>
                    </div>
                    <div class="w-[18px] h-[18px] relative"></div>
                </div>
            </div>
        </div>
    </div>
</div>